<div class="tbl">
    <form [formGroup]="registerForm" novalidate (ngSubmit)="addStudent()">
        <!-- {{registerForm.value | json}} -->
        <br/> {{registerForm.value | json}}
        <table align="center">
            <tr>
                <th colspan="2">Registration</th>
            </tr>
            <tr>
                <th>First Name*:</th>
                <td>
                    <input formControlName="firstName" type="text" id="firstName" name="firstName" maxlength="10" size="30" placeholder="First Name" autofocus/>
                </td>
            </tr>
            <tr>
                <th>Last Name*:</th>
                <td>
                    <input formControlName="lastName" type="text" id="lastName" name="lastName" maxlength="10" size="30" placeholder="Last Name" />
                </td>
            </tr>
            <tr>
                <th>Email Address : </th>
                <td>
                    <input formControlName="email" type="email" id="emailId" name="emailId" maxlength="40" size="30" placeholder="Email Address" />
                </td>
            </tr>
            <tr>
                <th>Mobile Number : </th>
                <td>
                    <input formControlName="mobile" type="number" id="mobileNumber" name="mobileNumber" maxlength="10" size="20" pattern="[7-9][0-9]{9}" title="Please enter mobile number properly." placeholder="Mobile Number" />
                </td>
            </tr>
            <tr>
                <th>Date Of Birth : </th>
                <td>
                    <input formControlName="dateOfBirth" type="date" id="dob" name="dob" min="1970-01-01" max="2001-12-31" />
                </td>
            </tr>
            <tr>
                <th>Select State</th>
                <td>
                    <select formControlName="state" name="state" id="state" (change)="populateCity()">
                        <option value="-1">Select State</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Karnataka">Karnataka</option >
                        <option value="Kerala">Kerala</option >
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Select City</th>
                <td>
                    <select formControlName="city" id="city" name="city">
                        <option value="-1">Select City</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Qualification</th>
                <td>
                    <select formControlName="qualification" id="qualification" name="qualification">
                        <option value="10">Class 10</option>
                        <option value="12">Class 12</option>
                        <option value="BTech">BTech</option>
                        <option value="BE">BE</option>
                        <option value="MTech">MTech</option>                        
                    </select>

                </td>
            </tr>
            <tr>
                <th>Year Of Completion</th>
                <td><input formControlName="yearOfCompletion" type="number" id="YearOfCompletion" name="YearOfCompletion" min="1970" max="2019" pattern="[1-2][0-9]{3}" title="Please Enter Correct Year" placeholder="Year Of Completion" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="Register" />
                </td>
                <td>
                    <input type="reset" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<router-outlet></router-outlet>