<body>
    <!-- {{registerForm.value | json}} -->
    <header>
        <div class="logo">
            <img src="assets/images/logo.png/">
        </div>
        <h1>Ekalavya</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <!-- <div class="col-md-5 reg-left">
                        <h4>Ekalavya</h4>
                        <p>Join us on Facebook</p>
                        <button typd4e="button" class="btn btn-primary">Join Us</button>
                    </div> -->
                    <div class="col-md-7 reg-right">
                        <h2>Registration</h2>
                        <div class="reg-form">
                            <form [formGroup]="registerForm" ngValidate (ngSubmit)="addStudent()">
                                <div class="form-group">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <label for="firstName">First Name<span class="star">*</span>:</label>

                                    <input type="text" formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
                                    <div *ngIf="submitted && registerForm.controls.firstName.errors" class="error">
                                        <div class="text-danger" *ngIf="registerForm.controls.firstName.errors.required">FirstName is required</div>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <label for="lastName">Last Name<span class="star">*</span>:</label>
                                        <input type="text" formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
                                        <div *ngIf="submitted && registerForm.controls.lastName.errors" class="error">
                                            <div class="text-danger" *ngIf="registerForm.controls.lastName.errors.required">LastName is required</div>
                                        </div>
                                        <div class="form-group">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <label for="email">Email address<span class="star">*</span>:</label>
                                            <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
                                            <div *ngIf="submitted && registerForm.controls.email.errors" class="error">
                                                <div class="text-danger" *ngIf="registerForm.controls.email.errors.required">Field cannot be empty</div>
                                                <div class="text-danger" *ngIf="registerForm.controls.email.errors.pattern">Enter Proper Email Id</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <label for="mobile">Mobile Number<span class="star">*</span>:</label>
                                            <input type="number" formControlName="mobile" pattern="[6-9][0-9]{9,9}" maxlength="10" size="10" placeholder="mobile" name="mobile" class="form-control" id="mobile">
                                            <div *ngIf="submitted && registerForm.controls.mobile.errors" class="error">
                                                <div class="text-danger" *ngIf="registerForm.controls.mobile.errors.required">Field cannot be empty</div>
                                                <div class="text-danger" *ngIf="registerForm.controls.mobile.errors.pattern">Mobile Number Of Wrong Length</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <label for="dateOfBirth">Date Of Birth</label>
                                            <input type="date" formControlName="dateOfBirth" min="1970-01-01" max="2010-12-31" placeholder="Date Of Birth" name="dateOfBirth" class="form-control" id="dateOfBirth">
                                        </div>

                                        <div class="form-group">
                                            <label for="state">State</label>
                                            <select formControlName="state" placeholder="state" name="state" class="form-control" id="state" (change)="populateCity()">
                                                <option value="-1">Select State</option>
                                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                        <option value="Karnataka">Karnataka</option >
                                                        <option value="Kerala">Kerala</option >
                                                        <option value="Maharashtra">Maharashtra</option>
                                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                                    </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <select formControlName="city" placeholder="city" name="city" class="form-control" id="city">
                                                <option value="-1">Select City</option>
                                                    </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="qualification">Qualification</label>
                                            <select formControlName="qualification" placeholder="qualification" name="qualification" class="form-control" id="qualification">
                                                <option value="10 ">Class 10</option>
                                                        <option value="12">Class 12</option>
                                                        <option value="BTech">BTech</option>
                                                        <option value="BE">BE</option>
                                                        <option value="MTech">MTech</option>                        
                                                    </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="yearOfCompletion">YearOfCompletion</label>
                                            <input type="number" formControlName="yearOfCompletion" maxlength="4" min="1970" max="2019" placeholder="yearOfCompletion" name="yearOfCompletion" class="form-control" id="yearOfCompletion">
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Register"> | |
                                            <input type="reset" value="Reset">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>