@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    background: linear-gradient(to right, #a26bcc, #43bcb4);
}

header {
    text-align: center;
    font-family: fantasy;
    font-weight: 600;
    font-size: xx-large;
    font-style: normal;
}

.logo img {
    float: left;
    width: 300px;
    height: auto;
}

.reg-left {
    text-align: center;
    color: white;
    padding: 15%;
}

.reg-right {
    border: none;
    background: white;
    border-top-left-radius: 5% 50%;
    border-bottom-left-radius: 5% 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 20%;
    margin-left: 100px;
}

.reg-right .btn-primary {
    border-radius: 25px;
    border: none;
    width: 120px;
    background: #7690c1;
    color: black;
    margin-top: 2%;
    padding: 2%;
    float: right;
}

.star {
    color: red;
}