<body>
    <table>
        <div class=header>
            <h1>RESET PAGE</h1>
        </div>
        <div>
            <div class="user">
                <tr>
                    <th>User Name : </th>
                    <td>
                        <input type="text" id="txtUN" name="txtUN" pattern="[A-Za-z@]{4,8}" required maxlength="8" size="15" placeholder="User Name" />
                    </td>
                </tr>
            </div>
            <div class="pass">
                <tr>
                    <th>Confirm new Password : </th>
                    <td>
                        <input type="password" id="txtPD" name="txtPD" required maxlength="8" size="15" placeholder="New Password" />
                    </td>
            </div>
            <div>
                <tr>
                    <td align="right">
                        <input type="submit" value="UPDATE" />
                    </td>
                </tr>
            </div>
        </div>
        <div class="footer">
            <small>Copyright 2018&copy; Larsen & Toubro Infotech</small>
        </div>

    </table>
</body>


<router-outlet></router-outlet>