a {
    text-decoration: none;
    background-color: lightgreen;
    border-color: black;
    border-style: solid;
    padding: 15px;
    margin: 10px 10px 10px 10px;
}

#examList {
    padding-top: 50px;
}