a {
    text-decoration: none;
    background-color:black;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

#selectsuj {
   float:right; 
}

#viewreport {
    float:right;
}