<div cls="tbl">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="loginUser()" ><table align="center" ><br>
    {{loginForm.value | json}}
    <div class="header" >
          <h1>ONLINE EXAM</h1>
      </div>
     
      <div class="content">
          <h3>Dont have an Account?</h3>
        <a routerLink="../userRegistration">Please Register Here♥</a>
        <div class="user">
          <tr>
              <th>User Name : </th>
              <td >
              <input formControlName="email" type="text" id="email" name="email"
              pattern="[A-Za-z@]{4,8}" required
              maxlength="25" size="30" placeholder="User Name" />
              </td>
          </tr>
        </div>
        <div type="pass">
          <tr >
              <th>Password : </th>
              <td>
              <input formControlName="password" type="password" id="password" name="password"
              required
              maxlength="8" size="15" placeholder="Password" />
              </td>
          </tr>
        </div>
           <tr>
              <td align="right">
              <input type="submit" value="Login" onsubmit="myFunction()" />
              </td>
              </tr>
           <a routerLink="/forgotPassword">Forgot Password</a>
          <iframe name="main-content"></iframe>
         
      </div>
      <div class="footer">
         <small>Copyright 2018&copy; Larsen & Toubro Infotech</small>
      </div>
      </table>
    </form>
   
    </div>
  
  <router-outlet></router-outlet>
