<p>user-exam-questions works!</p>

{{questions | json}}
<hr/>
<form>
    <div *ngIf="questions">
        <div *ngFor="let question of questions.responseObject">
            <div id="{{question.questionId}}">
                <label name="question"> {{question.question}}</label>
                <br/>
                <input type="radio" [(ngModel)]="radioSelected" name="{{question.question}}_{{question.questionId}}" value="{{question.option1}}">{{question.option1}}
                <br/>
                <input type="radio" [(ngModel)]="radioSelected" name="{{question.question}}_{{question.questionId}}" value="{{question.option2}}">{{question.option2}}
                <br/>
                <input type="radio" [(ngModel)]="radioSelected" name="{{question.question}}_{{question.questionId}}" value="{{question.option3}}">{{question.option3}}
                <br/>
                <input type="radio" [(ngModel)]="radioSelected" name="{{question.question}}_{{question.questionId}}" value="{{question.option4}}">{{question.option4}}
                <br/>
                <input type="button" [disabled]="" value="Record Answer" (click)="recordAnswer(question.questionId)">
            </div>
        </div>
    </div>
</form>