<body>
    <header class="logo">
        <img src="/assets/images/2.png">
    </header>
    <a routerLink="/">Home</a>
    <div class="formGroup">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <!-- <br> {{loginForm.value | json}} -->
            <div class="login-box">

                <h1>Login</h1>
                <div class="textbox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input formControlName="email" type="email" id="email" name="email" pattern="[A-Za-z@]{4,8}" maxlength="100" size="30" placeholder="User Name" />
                    <div *ngIf="loginForm.controls.email.errors" class="error">
                        <div class="text-danger" *ngIf="loginForm.controls.email.errors.required">Field cannot be empty</div>
                    </div>
                </div>
                <div class="textbox">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input formControlName="password" type="password" id="password" name="password" required maxlength="8" size="15" placeholder="Password" />
                </div>
                <div class="btn">
                    <input type="submit" value="Login" onsubmit="Login()" />
                </div>
                <!-- <a routerLink="/forgotPassword">Forgot Password</a> -->
                <h4>Dont have an Account?</h4>
                <a routerLink="../userRegistration">Please Register Here</a>
            </div>
        </form>
    </div>
</body>
<router-outlet></router-outlet>